<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Øldomondo</title>
    <link rel="icon" href="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/beer-icon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<header>
  <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="fas fa-beer" style="color:#ffff"></span> Øldomondo</a>
      </div>
        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav nav-item active">
              <a href="/beerlist" class="nav-link">Bajer liste</a>
            </li>
            <li class="nav nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
          </ul>

          {% if not user %}
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a role="presentation" class="nav-link" data-toggle="modal" data-target="#login" href="#"><span class="fas fa-sign-in-alt" style="color: #9A9D97"></span> Login</a>
                <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="login">Login</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <form action="/login" class="form-inline" method="POST">
                              <input type="text" class="form-control" placeholder="Username" name="username" value="">
                              <input type="password" class="form-control" placeholder="Password" name="password" value="">
                              <input type="submit" class="btn btn-primary" value="Login">
                            </form>
        
                            <div class="container">
                              <br>
                              <p>No account? <a href="/register">Register here</a>.</p>
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li class="nav-item">
                <a role="presentation" class="nav-link" data-toggle="modal" data-target="#register" href="#"><span class="fas fa-pencil-alt" style="color: #9A9D97"></span> Sign up</a>
                    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Register</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <div class="container">
                                <form action="/register" class="form-inline" method="POST">
                                    <input type="text" class="form-control" placeholder="Username" name="username" value="">
                                    <input type="text" class="form-control" placeholder="Full name" name="name" value="">
                                    <input type="email" class="form-control" placeholder="Example@mail.com" name="email" value="">
                                    <input type="password" class="form-control" placeholder="Password" name="password" value="">
                                    <input type="password" class="form-control" placeholder="Confirm password" name="confirm" value="">
                                    <input type="submit" class="btn btn-primary" value="Register">
                                  </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </li>
          </ul>
          {% else %}
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fas fa-user" style="color:#9A9D97"></span> {{ user }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout" class="nav-link" style="color: #343A40"><span class="fas fa-sign-out-alt" style="color: #343A40"></span> Logout</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}
        </div>
    </div>
  </nav>
</header>

<body>
  {% block content %}{% endblock content %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>